.profileForm {
    padding: 10px 30px 30px 30px;
    width: 600px;
}

.profile {
    padding: 10px 40px 40px 40px;
    width: 440px;
}

.profile, .profileForm {
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.profileRow {
    display: flex;
    margin-top: 10px;
}

.profileRow div:first-child {
    flex-basis: 100px;
}
.profileRow div:last-child {
    color: #374151;
    flex: 1;
}

@media (max-width: 640px) {
    .profile {
        width: 90%;
    }

    .profileForm {
        width: 90%;
    }
}

@media (max-width: 400px) {
    .profileRow {
        flex-direction: column;
    }
}